.webdev-logo {
  width: 8rem;
  height: 15vb;
  margin-left: 5px;
  object-fit: contain;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid black;
  height: 4rem;
}

.logout-button {
  background: linear-gradient(
    90deg,
    rgb(209, 44, 44) 0%,
    rgb(237, 100, 76) 100%
  );
  height: 100%;
  opacity: 1;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0.706592px 0.706592px -0.625px,
    rgba(0, 0, 0, 0.145) 0px 1.80656px 1.80656px -1.25px,
    rgba(0, 0, 0, 0.137) 0px 3.62176px 3.62176px -1.875px,
    rgba(0, 0, 0, 0.125) 0px 6.8656px 6.8656px -2.5px,
    rgba(0, 0, 0, 0.106) 0px 13.6468px 13.6468px -3.125px,
    rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
  color: white;
  margin: 1rem;
}

.left-end {
  display: flex;
  justify-content: space-between;
}

.right-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
